.middlee{
    opacity: .6;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }

  .btnnn{
    display: inline-block;
    width: 3.125rem;
    height: 3.125rem;
    background: #0D1117;
    margin: 0.625rem;
    border-radius: 30%;
    box-shadow: 0 0.3125rem 0.9375rem -0.3125rem #00000070;
    color: #fff;
    overflow: hidden;
    position: relative;
    border: 1px solid #fff;
  }

  .btnnn i{
    padding-top: 0.1875rem;
   line-height: 2.5rem;
    font-size: 1.375rem;
    transition: 0.2s linear;
  }

  .btnnn:hover i{
    transform: scale(1.3);
    color: #0D1117;
  }

  .btnnn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #fff;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }

  .btnnn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  }
  
  @keyframes aaa {
    0%{
      left: -110%;
      top: 90%;
    }50%{
      left: 10%;
      top: -30%;
    }100%{
      top: -10%;
      left: -10%;
    }
  }
  