.foto-banner {
    width: 100%;
}

.foto-mobile {

    display: flex;
    margin-top: -3rem;
    margin-left: -.5rem;
    width: 12rem;
    height: 13rem;
    margin-bottom: -4rem;
    
}

.navegacao {

    flex-wrap: wrap;
    gap: 4px;
    width: 15.625rem;
    margin-left: -1rem;
    margin-top: -2rem;
    margin-bottom: -4.5rem;

}

.navgation {
    
    margin-bottom: .2rem;
    text-decoration: none;
    color: #a8a8a8;
    padding: 4px;

    
    border-top: 1px solid #a8a8a8;
    border-left: 1px solid #a8a8a8;
    border-right: 1px solid #a8a8a8;
    border-radius: 5px;

}

.navgation:hover {
    color: #f5f5f5;
    text-shadow: 1px 1px 2px #ffffff;
}

@media screen and (min-width:720px) {

    .foto-mobile {

        margin-top: -7rem;
        margin-left: -.5rem;
        width: 18rem;
        height: 19rem;
    }

    .navegacao {

        flex-wrap: wrap;
        gap: 0.25rem;
        width: 25rem;
        margin-top: -6rem;
    
    }

}

@media screen and (min-width:1023px) {

    .foto-mobile {

        margin-top: -12rem;
        margin-left: -.5rem;
        width: 25rem;
        height: 27rem;
    }

    .navegacao {

        flex-wrap: wrap;
        gap: 4px;
        width: 35rem;
        margin-top: -12rem;
    
    }

}

@media screen and (min-width:1440px) {

    .foto-mobile {

        margin-top: -18rem;
        margin-left: -.5rem;
        width: 30rem;
        height: 32rem;
    }

    .navegacao {

        flex-wrap: wrap;
        gap: 4px;
        width: 35rem;
        margin-top: -10rem;
    
    }

    .foto-banner {
        margin-top: -5rem;
    }

}


